@font-face{ font-family: 'Noto Serif KR', serif;
        src: url(../Noto_Serif/NotoSerif-Bold.ttf);
}
#wrap{width: 100%;}
/* 헤더 */
#header{width: 100%; height: 130px;
        position: fixed;
        z-index: 9999;}

        
#header_in{width: 100%; height: 130px;
        display: flex;
        justify-content: space-around;
        background-color: #210C0C;
        border: solid 2px #C90E0E;
        box-sizing: border-box;
        opacity: 80%;
        position: relative;}
  
/* 로고 */       
#header_in .logo{width: 200px; height: 130px;
                padding-left: 20px;
                display: flex;
                align-items: center;
                text-align: center;}
                
#header_in .logo > a > span{font-size: 20px;
                color: #C90E0E;}
#header_in .logo > a{font-size: 12px;
                color: #fff;}
                
#header_in .logo > a > p{font-size: 10px;}
                        

/* 오른쪽 메뉴 */

#header_in .h_group{width: 1150px;}

#header_in .info_mn{width: 370px; height: 40px;
                float: right;
                display: flex;
                line-height: 35px;
                justify-content: space-around;}
                
#header_in .info_mn li {font-size: 10px;}

#header_in .info_mn li a{color: #fff;
                padding-right: 15px;
                border-right: 1px solid #fff;
                opacity: 80%;               
}

#header_in .info_mn li:last-child a{border-right: 0px;}
                

#header_in .nav{width: 100%; height: 70px;
                display: flex;
                align-items: center;
                
}

#header_in .nav > ul{display: flex;
         }


#header_in .nav ul > li{margin-right: 50px;
        
                                       
}

#header_in .nav ul > li > a{font-size: 15px;
                color: #fff;
                text-transform: uppercase;
                box-sizing: border-box;}

#header_in .nav > ul > li:hover{
        border-bottom: 5px solid #830808;
        padding-bottom: 5px;
}

#header_in .nav ul > li:hover ~ .sub_mn{
       height: 200px;
      
}

#header_in .sub_mn:hover{
        height: 200px;
        text-transform: none;
       transition-delay: 0s;
       transition-duration: .5s;
       transition-property: all;
       transition-timing-function: ease-in-out;
}


#header_in .sub_mn:hover > ul > li > a{
        color: #fff;
       text-transform: none;
       transition-delay: 0s;
       transition-duration: 0.2s;
       transition-property: all;
       transition-timing-function: ease-in-out;  
       opacity: 1;
}

#header_in .nav ul > li:hover ~ .sub_mn > ul > li > a{
       color: #fff;
       text-transform: none;
       transition-delay: 0s;
       transition-duration: .5s;
       transition-property: all;
       transition-timing-function: ease-in-out;  
       opacity: 1;
}


#header_in .sub_mn > ul > li > a:hover{
        border-bottom: 1px solid #fff;
}


/* 서브 메뉴 */

#header_in .sub_mn{ 
        width: 100%; height: 0px;
        position: absolute;
        top: 125px; left: 0px;
        background-color: #2e2b2b;
        transition-delay: 0s;
        transition-duration: .5s;
        transition-property: all;
        transition-timing-function: ease-in-out;
        overflow: hidden;
       
}
#header_in .sub_mn > ul{
        float: left;
        padding: 20px 0 0 40px;
        margin-left: 50px;
}
#header_in .sub_mn ul > li{
        margin-bottom: 20px;
}

#header_in .sub_mn ul > li > a{
        opacity: 0;
}




/* 가맹 사업 */
#header_in .business{width: 200px; height: 60px;
                position: absolute;
                top: 45px; right: 100px;
                text-align: center;
                line-height: 60px;
                border-radius: 10px;
                background-color: #C1064C;}
                
#header_in .business span{font-size: 15px;
                color: #fff;}





/* 메인 이미지 */
#img{ width: 100%; height: 850px;
        padding-top: 160px;
        background: url(../images/광고1.png) no-repeat 50% 0;
        background-size: cover;       
}

/* 메인이미지 안 글귀 */
#img .img_in{margin: 0 auto;
        width: 840px; height: 550px;
        margin-top: 130px;
        border: 7px solid #9EAEE4;     
}

#img .img_in p{text-align: center;
                padding-top: 60px;
                color: #EE5A5A;
               
}

#img .img_in .img_p1{ font-size: 50px;
                font-weight: bolder;
}

#img .img_in .img_p2{ font-size: 15px;

}

#img .event{ margin: 0 auto;
        margin-top: 80px;
        width: 500px; height: 90px;
        background-color: #edf3f399;
        border-radius: 50px;
}

#img .event p{font-size: 25px;
        font-weight: bold;
        font-family: 'Noto Serif KR', serif;
        padding-top: 30px;
                
}

/*메인 이미지 2*/
#img2{width: 100%; height: 300px;
        background: url(../images/광고2.png) no-repeat 50% 0;
        background-size: cover;
}

/* 콘텐츠 1 */
#items{width: 100%; height: 750px;}

#items_in{margin: 0 auto;
        width: 1250px; height: 780px;}
/* 콘텐츠 1 헤더 */
#items_in .h_box{display: flex; justify-content: center;
                padding-top: 120px;
                font-size: 25px;
                font-family: 'Noto Serif KR', serif;
                color: #707070;
                text-transform: uppercase;
                letter-spacing: 3px;
}

#items_in span{color: #C90E0E;
}

/* 콘텐츠 1 이미지 */
#items_in .i_img{ width: 1200px; height: 450px;
                display: flex;  
                 
}

#items_in .ade{ width: 300px; height: auto;
        object-fit: cover;
        padding:70px 0 0 10px;
}

#items_in .i_img li p{ text-align: center;
                        padding-top: 20px;
                        font-family: 'Noto Serif KR', serif;
}

#items_in .i_img li span{
        font-size: 14px;           
}

/* 콘텐츠 1 버튼 */
#items_in .btn{width: 100px; height: 50px;
        margin: 0 auto;
        margin-top: 120px;
}
#items_in .btn button{ width: 100px; height: 40px;
                border-radius: 10px;
                border: none;
                font-size: 12px;
                font-family: 'Noto Serif KR', serif;
                color: darkgrey;
                background-color: #edf3f399;
}


/* 콘텐츠 2 goods */
#goods{width: 100%; height: 780px;}

#goods_in{margin: 0 auto;
        width: 1250px; height: 780px;
        overflow: hidden;}


/* 콘텐츠 2 헤더 */
#goods_in .h_box{display: flex; justify-content: center;
        padding-top: 120px;
        font-size: 25px;
        font-family: 'Noto Serif KR', serif;
        color: #707070;
        text-transform: uppercase;
        letter-spacing: 3px;
}

#goods_in span{color: #C90E0E;
}


/* 콘텐츠 2 이미지 */
#goods_in .g_img{ width: 1200px; height: 450px;
        display: flex;
       
}

#goods_in .items{ width: 400px; height: 350px;
                object-fit: contain;
                padding:70px 0 0 13px;
}

#goods_in .g_img li p{ text-align: center;
                padding-top: 20px;
                font-family: 'Noto Serif KR', serif;
}

#goods_in .g_img li span{
font-size: 14px;           
}

#goods_in .g_img_h{ display: block;
}


/* 콘텐츠 2 버튼 */
#goods_in .btn{width: 200px; height: auto;
        margin: 0 auto;
        margin-top: 130px;
        padding-left: 80px;
}

#goods_in .btn button{margin: auto;
        width: 20px; height: 20px;
        border-radius: 50px;
        border: none;
        margin-left: 10px;
        background-color: #a3cfcf82;
}

#goods_in button:last-child{
        background-color: #C90E0E;
}

/*콘텐츠 3 channel*/
#channel{width: 100%; height: 1000px;
       }

#channel::before{width: 100%; height: 1000px;
        content: "";
        position: absolute;
        background: url(../images/background1.png) no-repeat 0 0;
        background-size: cover;
        opacity: 30%;
        z-index: -9999;
}

#channel_in{margin: 0 auto;
        width: 1400px; height: 1000px;
        opacity: 100%;}
/* 콘텐츠 3 헤더 */
#channel_in .h_box{display: flex; justify-content: center;
        padding-top: 80px;
        font-size: 25px;
        font-family: 'Noto Serif KR', serif;
        color: #707070;
        text-transform: uppercase;
        letter-spacing: 3px;
        word-spacing: 5px;
}

#channel_in span{color: #C90E0E;
}

/* 콘텐츠 3 이미지 */
#contents{ width: 100%;
        display: flex;
        justify-content: space-around;
        padding-top: 90px;

}

#contents1{ width: 800px; height: 700px;
}

/* 좌측이미지 */

#contents1 .img1{width: 100%; height: 300px;
                background: url(../images/introduce.jpg) no-repeat 0 0;
                background-size: cover;}


#contents1 .img1:hover{
        box-shadow: 3px 3px 3px #210C0C;
        transform: scale(1.01);
        transition: all 0.3s;    
}

#contents1 .img1 p{
                padding: 20px 0 0 20px;
                font-size: 30px;
                font-family: 'Noto Serif KR', serif;
                color: #fff;
}

#contents1 .img1 span{font-size: 15px;
                color: #fff;
}

#contents1 .img_in{width: 100%; height: 300px;
                margin-top: 100px;
                display: flex;
                justify-content: space-between;
}

#contents1 .img2{width: 370px;
                background: url(../images/introduce2.jpg) no-repeat 0 0;
                background-size: cover;
                font-family: 'Noto Serif KR', serif;    
                color: #fff;
                
}

#contents1 .img2 p{padding: 20px 0 0 20px;
                font-size: 27px;
                padding-bottom: 190px;
                
        
}
#contents1 .img2 span{
                font-size: 15px;
                color: #fff;
                display: flex;
                justify-content: space-around;

}

#contents1 .img2 div{ width: 80px; height: 30px;
                border: 2px #fff solid;
                text-align: center;
                line-height: 30px;
                color: #fff;
}


#contents1 .img3{width: 370px;
                background:url(../images/Cafe\ 1.jpg);
                background-size: cover;
                font-family: 'Noto Serif KR', serif;
                color: #fff;
}

#contents1 .img3 p{padding: 20px 0 0 20px;
        font-size: 27px;
        padding-bottom: 190px;

}
#contents1 .img3 span{
        font-size: 15px;
        color: #fff;
        display: flex;
        justify-content: space-around;

}

#contents1 .img3 div{ width: 80px; height: 30px;
        border: 2px #fff solid;
        text-align: center;
        line-height: 30px;
        color: #fff;
}



/* 우측 이미지 */
#contents2{width: 400px; height: 700px;}


#contents2 .img1{width: 400px; height: 270px;
        background: url(../images/introduce4.jpg);
        background-size: cover;
        font-family: 'Noto Serif KR', serif;
}

#contents2 .img1 p{padding: 150px 0 20px 20px;
                font-size: 27px;
                color: #fff;
}

#contents2 .img1 span{padding-left: 20px;
                font-size: 15px;
                color: #fff;
}

#contents2 .intro{width: 400px; height: 430px;
                font-family: 'Noto Serif KR', serif;
}

#contents2 .intro::before{width: 400px; height: 430px;
        position: absolute;
        content: "";
        background: url(../images/background2_1.jpg) no-repeat 0 0;
        background-size: contain;
        opacity: 80%;
        z-index: -9999;
        
}


#contents2 .intro h3{
        padding-top: 50px;
        padding-left: 20px;
        font-size: 18px;
        color: #EE5A5A;
}

#contents2 .intro p{padding-top: 60px;
        padding-left: 20px;
        font-size: 13px;
        line-height: 25px;
        color: #640606;
}

/* 콘텐츠 4 유튜브 */
#video{width: 100%; height: 690px;
}

#video::before{width: 100%; height: 690px;
        content: "";
        position: absolute;
        background: url(../images/Yback2.jpg) no-repeat 0 0;
        background-size: cover;
        opacity: 50%;
        z-index: -9999;
}

#video_in{margin: 0 auto;
        width: 1400px; height: 690px;

}

/* 유튜브 헤더 */
#video_in .h_box{display: flex; justify-content: center;
        padding-top: 80px;
        font-size: 25px;
        font-family: 'Noto Serif KR', serif;
        color: #707070;
        text-transform: uppercase;
        letter-spacing: 3px;
        word-spacing: 5px;
}

#video_in span{color: #C90E0E;
}

/* 유튜브 박스 */
#video_in .youtube{ margin-top: 120px;
        width: 100%; height: 350px;
}


#video_in ul{ width: 100%;
        display: flex; justify-content: space-around;
}

#video_in li iframe{width: 350px; height: 260px;

}

#video_in li p{padding-top: 20px;
        text-align: center;
        font-size: 15px;
        color: #470E0E;
}

#video_in .y2{width: 400px; height: 260px;
        background-color: #9EAEE4;
}

#video_in .y3{width: 400px; height: 260px;
        background-color: #EE5A5A;
}

/* 하단 */
#footer{width: 100%; height: 200px;
}


#footer::before{width: 100%; height: 200px;
        content: "";
        position: absolute;
        background: url(../images/wood-gafed59a9c_1920.jpg) no-repeat 0 0;
        background-size: cover;
        opacity: 70%;
        z-index: -9999;}


#footer_in{margin: 0 auto;
        width: 1400px; height: 200px;
        display: flex;
}
/* 하단 address */
#footer1{width: 650px; height: 200px;
}

#footer1 .ft_h{display: flex;
        justify-content: space-between;

}

#footer1 .ft_h ul{display: flex;
        padding-top: 30px;
        text-align: center;    
}

#footer1 .ft_h ul li{padding-left: 7px;
        border-right: 1px solid #fff;
}

#footer1 .ft_h ul li:last-child{
        border-right: 0;
}

#footer1 .ft_h li a{
        padding-right: 10px;
        color: #fff;
        font-size: 10px; 
}

#footer1 p{ padding:50px 0 0 7px;
        line-height: 25px;
        font-size: 12px;
        color: #fff;

} 

/* 매장찾기 */
#footer2{width: 680px; height: 200px;
        font-family: 'Noto Serif KR', serif;
}

#footer2 h3{padding:30px 0 0 130px;
        font-size: 20px;
        font-weight: lighter;
        color: #fff;
        
}


#footer2 input{ width: 280px; height: 30px;
        margin:30px 0 0 30px;
        padding-left: 10px;
        border-radius: 3px;
        border: 3px solid #fff;
        background: transparent;
        color: #fff;
}

#footer input:focus{
        outline: none;
}

#footer2 input::placeholder{
        color: #fff;
}


/* sns */
#sns{width: 270px; height: 200px;
}

#sns img{ margin: 80px 0 0 5px;

}



/* =========================================================== */
/* =========================================================== */
/* =========================================================== */
/* =========================================================== */




/* 1400 반응형 */

@media screen and (max-width: 1400px){

#channel_in{margin: 0 auto;
        width: 100%; height: 1000px;
        opacity: 100%;}

#video_in{margin: 0 auto;
        width: 100%; height: 690px;

}

#footer_in{margin: 0 auto;
        width: 100%; height: 200px;
        display: flex;
}

}

/* 1000 반응형 */
/* (자식태그/부모태그) * 100 */
@media screen and (max-width: 1000px){

#header_in .h_group{width: 87%; height: 160px;}/*width: 1150px;*/

#header_in .info_mn{width: 32%; height: 30px;
                float: right;
                display: flex;
                line-height: 35px;
                justify-content: space-around;}/*width: 370px;*/
                
#header_in .info_mn li {font-size: 10px;}

#header_in .info_mn li a{color: #fff;
                padding-right: 15px;
                border-right: 1px solid #fff;
                opacity: 80%;               
}

#header_in .info_mn li:last-child a{border-right: 0px;}

#img .img_in{margin: 0 auto;
        width: 84%; height: 550px;
        margin-top: 130px;
        border: 7px solid #9EAEE4;     
}/* width: 840px;*/

#img .img_in p{text-align: center;
        padding-top: 60px;
        color: #EE5A5A;
        
}

#img .img_in .img_p1{ font-size: 50px;
        font-weight: bolder;
}

#img .img_in .img_p2{ font-size: 15px;
        
}

#img .event{ margin: 0 auto;
        margin-top: 80px;
        width: 50%; height: 90px;
        background-color: #edf3f399;
        border-radius: 50px;
}

#img .event p{font-size: 25px;
        font-weight: bold;
        font-family: 'Noto Serif KR', serif;
        padding-top: 30px;
        
}

/*메인 이미지 2*/
#img2{width: 100%; height: 300px;
        background: url(../images/광고2.png) no-repeat 50% 0;
        background-size: cover;
}

#items_in{margin: 0 auto;
        width: 80%; height: 780px;}
        /* 콘텐츠 1 헤더 */
        #items_in .h_box{display: flex; justify-content: center;
                padding-top: 120px;
                font-size: 25px;
                font-family: 'Noto Serif KR', serif;
                color: #707070;
                text-transform: uppercase;
                letter-spacing: 3px;
                overflow: hidden;
        }
        
        #items_in span{color: #C90E0E;
        }
        
        /* 콘텐츠 1 이미지 */
        #items_in .i_img{ width: 1200px; height: 450px;
                display: flex;  
                
        }
        
        #items_in .ade{ width: 300px; height: auto;
                object-fit: cover;
                padding:70px 0 0 10px;
                
        }
        
        #items_in .i_img li p{ text-align: center;
                padding-top: 20px;
                font-family: 'Noto Serif KR', serif;
        }
        
        #items_in .i_img li span{
                font-size: 14px;           
        }

        #goods_in{margin: 0 auto;
                width: 1250px; height: 780px;
                overflow: hidden;}
        
        
        /* 콘텐츠 2 헤더 */
        #goods_in .h_box{display: flex; justify-content: center;
                padding-top: 120px;
                font-size: 25px;
                font-family: 'Noto Serif KR', serif;
                color: #707070;
                text-transform: uppercase;
                letter-spacing: 3px;
        }
        
        #goods_in span{color: #C90E0E;
        }
        
        
        /* 콘텐츠 2 이미지 */
        #goods_in .g_img{ width: 1200px; height: 450px;
                display: flex;
               
        }
        
        #goods_in .items{ width: 400px; height: 350px;
                        object-fit: contain;
                        padding:70px 0 0 13px;
        }
        
        #goods_in .g_img li p{ text-align: center;
                        padding-top: 20px;
                        font-family: 'Noto Serif KR', serif;
        }
        
        #goods_in .g_img li span{
        font-size: 14px;           
        }
        
        #goods_in .g_img_h{ display: block;
        }
        
        
        
}